* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#navbar .head {
    background-color: #FF9100;
    width: 100%;
    height: 38px;
}

#navbar .head .top-left ul {
    display: flex;
    margin-top: 7px;
    gap: 10px;
}

#navbar .head .top-left ul li {
    list-style: none;

}

#navbar .head .top-left ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;


}

#navbar .head .top-left ul li:nth-child(1) {
    border: 0.4px solid white;
    border-bottom: none;
    border-top: none;
    border-left: none;
    height: 25px;
    width: 50px;
}

#navbar .head .top-left ul li:nth-child(2) {
    border: 0.4px solid white;
    border-bottom: none;
    border-top: none;
    border-left: none;
    height: 25px;
    width: 100px;
}

#navbar .head .top-right ul {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

#navbar .head .top-right ul li:nth-child(1) {

    border: 1px solid white;
    border-bottom: none;
    border-top: none;
    border-left: none;
    height: 25px;
    width: 30px;
}

#navbar .head .top-right ul li {
    list-style: none;
}

#navbar .head .top-right ul li a {
    text-decoration: none;
    color: white;
}

#nav .down .image img {
    width: 90px;
    height: 48px;
    margin-top: 20px;
    margin-left: 10px;
}

#nav .down .main-tarif ul {
    display: flex;
    gap: 20px;
    margin-top: 40px;
    margin-left: 100px;
}

#nav .down .main-tarif ul li {
    list-style: none;
}

#nav .down .main-tarif ul li a {
    text-decoration: none;
    color: #727272;
    transition: 0.3s;
}

#nav .down .main-tarif ul li a:hover {
    color: #FF9100;
}

#nav .down .icon {
    margin-top: 40px;
    cursor: pointer;

}

#nav .down .icon i:nth-child(2) {
    display: none;
}

#slider img {
    width: 100%;
    height: 505px;
    margin-top: 10px;
}

#card .text h1 {
    justify-content: center;
    display: flex;
    margin-top: 50px;
    opacity: 0.8;
}

#card .image img {
    cursor: pointer;
    margin-top: 20px;
    width: 360px;
    height: 460px;
    border-radius: 20px;
}

#card .image .button {
    position: relative;
    bottom: 40px;
    left: 220;
}

#card .image .button button {
    width: 100px;
    height: 39px;
    background-color: #FF9100;
    color: white;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 20px;
    margin-left: 260px;
    margin-top: 2px;
}

#card .icon {
    justify-content: center;
    display: flex;
    gap: 20px;
}

#naxtel .back {
    margin-top: 30px;
    background-color: #FF9100;
    width: 100%;
    height: 400px;
}

#naxtel .logo img {
    width: 80px;
    height: 80px;
    margin-top: 30px;
    cursor: pointer;

}

#naxtel .app img {
    width: 130px;
    height: 40px;
    gap: 50px;
    margin-top: 50px;
    cursor: pointer;
}

#naxtel .naxtel-naxtel {
    line-height: 20px;
}

#naxtel .naxtel-naxtel a {
    text-decoration: none;
    color: white;
    margin-top: 20px;
}

#naxtel .naxtel-naxtel h3 {
    color: white;
    margin-top: 20px;
    font-size: 18px;

}

#naxtel .right img {
    height: 350px;
    width: 370px;
    margin-left: 100px;
}

#for-you {
    margin-top: 100px;
}

#for-you h1 {
    justify-content: center;
    display: flex;
    opacity: 0.7;
}

#for-you .avantage {
    margin-left: 100px;
    padding: 50px;
}

#for-you .type img {
    height: 160px;
    width: 160px;
    cursor: pointer;
}

#for-you .type h4 {
    margin-top: 20px;
    margin-left: 20px;
    opacity: 0.7;
}

#for-you .type button {
    width: 80px;
    height: 30px;
    margin-left: 30px;
    background-color: white;
    border: 1px solid #FF9100;
    border-radius: 20px;
    color: #FF9100;
    transition: 0.3s;
}

#for-you .type button:hover {
    background-color: #FF9100;
    color: white;
}

#news {
    background-color: #F8F8F8;
    width: 100%;
    height: 330px;
}

#news .icon {
    justify-content: center;
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

#news .new h1 {
    justify-content: center;
    display: flex;
    opacity: 0.7;
}

#news .info {
    margin-top: 30px;
    display: flex;
}

#news .info .text p {
    opacity: 0.7;
}

#news .info .text button {
    width: 80px;
    height: 30px;
    margin-left: 30px;
    background-color: white;
    border: 1px solid #FF9100;
    border-radius: 20px;
    color: #FF9100;
    transition: 0.3s;

}

#news .info .text button:hover {
    background-color: #FF9100;
    color: white;
}

#foot-up {
    background-color: #3C98A7;
    width: 100%;
    height: 250px;
}

#foot-up .about ul {
    margin-top: 60px;
}

#foot-up .about ul li {
    list-style: none;
    color: white;
}

#foot-up .about ul li a {
    text-decoration: none;
    color: white;
}

#foot-down {
    background-color: #2D727D;
    width: 100%;
    height: 100px;
}

#foot-down .text {
    color: #727272;
    
}

#foot-down .icon {
    margin-top: 30px;
}

#foot-down .icon i {
    cursor: pointer;
}

@media only screen and (max-width: 992px) {
    #nav .down .main-tarif {
        display: none;
    }

    #nav .down .icon i:nth-child(1) {
        display: none;

    }

    #nav .down .icon i:nth-child(2) {
        display: block;
    }

    #navbar .head .top-left ul li a {
        font-size: small;
    }

    #navbar .head .top-right ul li a {
        font-size: small;
    }

    #slider img {
        height: 300px;
        width: 100%;
    }

    #naxtel .back .logo img {
        height: 30px;
        width: 30px;
    }

    #naxtel .back .naxtel-naxtel h1 {
        font-size: small;
    }

    #naxtel .back .naxtel-naxtel h3 {
        font-size: small;
    }

    #naxtel .back .app img {
        height: 30px;
        width: 65px;
    }

    #naxtel .back {
        width: 100%;
        height: 250px;
    }

    #naxtel .back .right img {
        width: 150px;
        height: 200px;
    }
    #news .new h1{
        font-size: large;
    }
    #news .info .text b{
        font-size: small;
    }
    #news .info .text h5{
        font-size: medium;
    }
    #news .info .text p{
        font-size: small;
    }
    #news .info .text button{
        width: 60px;
        height: 30px;
    }
    #news {
        height: 400px;
    }
    #foot-up{
        height: 400px;
        background-color: #3C98A7;
    }
    #foot-down .text h5{
        font-size: medium;
    }
    #foot-down .icon i{
        font-size: medium;
    }

}
@media only screen and  (max-width: 1400px){
    #news {
        height: 400px;
    }
}
@media only screen and  (max-width: 576px){
    #news {
        height: 400px;
    }
}

@media only screen and  (min-width: 400){
    #nav .down .image img {
        background-image:url(../css/image/51H0Qt9BwEL._AC_UF894\,1000_QL80_.jpg) ;
       z-index: 100;
       
    }
}